{% extends 'base.html' %}

{% block header %}
    <a href="{% url 'history_download_page' %}" class="btn btn-primary mb-3">Download History</a>
{% endblock %}

{% block content %}

<h3>Want to edit your search history? <a href="{% url 'admin:index' %}">Visit the admin page.</a></h3>
    <br>
<div class="container">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Search Term</th>
        <th>Records Found</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for query in history %}
      <tr>
        <td>{{ query.search_term }}</td>
        <td>{{ query.total_records }}</td>
        <td>{{ query.searched_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}