<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Organelle Search{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>

{% else %}
<p>Log in or sign up to conduct your first search.</p>
    <p><a href="{% url 'signup' %}">Register</a></p>
    <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
    <p><a href="{% url 'login' %}">Log In</a></p>
{% endif %}
{% endblock %}

{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>

{% else %}
<p>You are not logged in</p>

{% endif %}